aniso8601==1.2.1
click==6.7
dicttoxml==1.7.4
Flask==0.12.2
Flask-SQLAlchemy==2.2
funcsigs==1.0.2
html5lib==1.0b8
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
pbr==3.1.1
Pillow==4.2.1
psycopg2==2.7.1
python-dateutil==2.6.1
pytz==2017.2
reportlab==3.4.0
six==1.10.0
SQLAlchemy==1.1.11
webencodings==0.5.1
Werkzeug==0.12.2
xhtml2pdf==0.0.6
